extends layouts/master

block nav_url
  include nav/user

  style.
    p{padding-top:7px}
    textarea{width:100%;height:200px}

block content
  form#form.form-horizontal(action="/api/user/update" method="post" onsubmit="return validate()")
    div.form-group
      label.control-label.col-sm-2 ID
      div.col-sm-10
        p #{user._id}
        p.help-block

    div.form-group
      label.control-label.col-sm-2 姓名
      div.col-sm-10
        p #{user.name}
        p.help-block

    div.form-group
      label.control-label.col-sm-2 电话
      div.col-sm-10
        p #{user.phone}
        p.help-block

    div.form-group
      label.control-label.col-sm-2 推荐人数
      div.col-sm-10
        p #{user.follow_num}
        p.help-block

    div.form-group
      label.control-label.col-sm-2 注册时间
      div.col-sm-10
        p #{user.create_time}
        p.help-block

    div.form-group
      label.control-label.col-sm-2 一级奖励
      div.col-sm-10
        input.form-control(type="text" name="extra_reward1" value="#{user.extra_reward1}"  required)
        p.help-block 单位(元)

    div.form-group
      label.control-label.col-sm-2 二级奖励
      div.col-sm-10
        input.form-control(type="text" name="extra_reward2" value="#{user.extra_reward2}"  required)
        p.help-block 单位(元)

    input(type="hidden" value='#{user._id}' name="user_id")

    button.col-sm-offset-2.btn.btn-primary 编辑


  script.
    function validate() {
      var extra_reward1 = $("input[name='extra_reward1']").val();
      var extra_reward2 = $("input[name='extra_reward2']").val();

      if (isNaN(extra_reward1)) {
        alert("一级奖励请输入数字");
        return false;
      }
      if (isNaN(extra_reward2)) {
        alert("二级奖励请输入数字");
        return false;
      }
    }

